/*=================================================
                    Variables
=================================================*/
$bg-color: #11151C;
$text-color: #FFFFFF;
$accent-color: #18FFFF;

$main-font: 'Raleway', sans-serif;

/*=================================================
                Main section
=================================================*/
body {
    background-color: $bg-color;
    font-size: 4vh;
    color: $text-color;
}
main {
    margin: 20vh auto;
    height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*=================================================
                Location bar
=================================================*/
.location {
    font-size: 5vh;
    text-align: center;
}

/*=================================================
                Weather bar
=================================================*/
.weather-bar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    line-height: 8vh;
}
.sky {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 6vh;
    color: $accent-color;
}
.temp-unit {
    color: $accent-color;
    cursor: pointer;
}